# Encrypt
## Encrypt all files under script
script/** filter=git-crypt diff=git-crypt

## Encrypt all txt files
*.txt filter=git-crypt diff=git-crypt
*.asc filter=git-crypt diff=git-crypt

## Make sure that .gitattributes is never encrypted.
.gitattributes !filter !diff
## Make sure that .gitignore is never encrypted.
.gitignore !filter !diff